@charset "euc-kr";

.clfix:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
.clfix {display: inline-block;}
.clfix {display: block;}
* html .clfix {height: 1%;} /* hides from ie-mac */
.clfix{ zoom:1; } /*for ie 5.5-7*/

a {text-decoration:none; color:inherit;}
/* a:hover {text-decoration:underline; color:#333;} */

.nanum {font-family:'Nanum Barun Gothic', '맑은고딕';} 
.noto {font-family:'Noto Sans Korean', sans-serif;}

/* padding */
.pd0 {padding:0 !important;}
.pdt0 {padding-top:0 !important;}
.pdb0 {padding-bottom:0 !important;}
.pdl0 {padding-left:0 !important;}
.pdr0 {padding-right:0 !important;}

.pdt10 {padding-top:10px !important;}
.pdt15 {padding-top:15px !important;}
.pdt20 {padding-top:20px !important;}
.pdt25 {padding-top:25px !important;}
.pdt40 {padding-top:40px !important;}

.pdb5 {padding-bottom:5px !important;}
.pdb10 {padding-bottom:10px !important;}
.pdb40 {padding-bottom:40px !important;}
.pdl20 {padding-left:20px !important;}

/* margin */
.mg0 {margin:0 !important;}
.mgt0 {margin-top:0 !important;}
.mgb0 {margin-bottom:0 !important;}
.mgl0 {margin-left:0 !important;}
.mgr0 {margin-right:0 !important;}

.mgt1 {margin-top:1px !important;}
.mgt2 {margin-top:2px !important;}
.mgt3 {margin-top:3px !important;}
.mgt5 {margin-top:5px !important;}
.mgt7 {margin-top:7px !important;}
.mgt8 {margin-top:8px !important;}
.mgt10 {margin-top:10px !important;}
.mgt15 {margin-top:15px !important;}
.mgt20 {margin-top:20px !important;}
.mgt25 {margin-top:25px !important;}
.mgt30 {margin-top:30px !important;}
.mgt35 {margin-top:35px !important;}
.mgt40 {margin-top:40px !important;}
.mgt42 {margin-top:42px !important;}
.mgt45 {margin-top:45px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60 {margin-top:60px !important;}
.mgt70 {margin-top:70px !important;}
.mgt75 {margin-top:75px !important;}
.mgt80 {margin-top:80px !important;}
.mgt85 {margin-top:85px !important;}
.mgt90 {margin-top:90px !important;}

.mgl5 {margin-left:5px !important;}
.mgl10 {margin-left:10px !important;}
.mgl15 {margin-left:15px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl40 {margin-left:40px !important;}

.mgr10 {margin-right:10px !important;}
.mgr15 {margin-right:15px !important;}
.mgr20 {margin-right:20px !important;}
.mgr30 {margin-right:30px !important;}

.mgb2 {margin-bottom:2px !important;}
.mgb3 {margin-bottom:3px !important;}
.mgb5 {margin-bottom:5px !important;}
.mgb7 {margin-bottom:7px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb15 {margin-bottom:15px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb25 {margin-bottom:25px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb40 {margin-bottom:40px !important;}
.mgb50 {margin-bottom:50px !important;}

.bothMar {margin:0 10px;}
.bothMar * {vertical-align:middle;}
.bothMar img {position:relative; top:-1px}

.img100 img {width:100%;}
.upperTxt {text-transform:uppercase;}
.cutSt {
	white-space:nowrap;
	text-overflow:ellipsis;		/* IE, Safari */
	-o-text-overflow:ellipsis;		/* Opera under 10.7 */
	overflow:hidden;			/* "overflow" value must be different from "visible" */ 
	-moz-binding: url('ellipsis.xml#ellipsis');
}

/* float */
.fnone {float:none !important;}
.fl {float:left !important;}
.fr {float:right !important;}
.cboth {clear:both;}

/* font weight */
.fwn {font-weight:normal !important;}
.fwb {font-weight:bold !important;}
.fw100 {font-weight:100 !important;}
.fw300 {font-weight:300 !important;}
.fw500 {font-weight:500 !important;}
.fw700 {font-weight:700 !important;}

/* font color */
.fcRed {color:#ff0000 !important;}
.fcOrg {color:#f36e23 !important;}
.fcGreen {color:#65af05 !important;}
.fcPurple {color:#9f71ff !important;}
.fcBlue {color:#497bb8 !important;}
.fcGy01 {color:#a3a3a3 !important;}
.fcMint {color:#00a1b8 !important;}
.fcYlw {color:#e4c742 !important;}
.fcPink {color:#fc5bb2 !important;}
.fcPink2 {color:#f07979 !important;}
.fc333 {color:#333 !important;}
.fcGy555 {color:#555 !important;}
.fcWhite {color:#fff !important;}

.minHReset {min-height:1px !important;}

.fz11Gry {font-size:11px; color:#c4c4c4;}
.fz11 {font-size:11px !important;}
.fz12 {font-size:12px !important;}
.fz13 {font-size:13px !important;}
.fz14 {font-size:14px !important;}

/* line-height */
.ln14 {line-height:1.4;}
.ln15 {line-height:1.5;}
.ln16 {line-height:1.6;}
.ln17 {line-height:1.7;}
.ln18 {line-height:1.8;}
.lh14List > li {line-height:1.4;}
.lh15List > li {line-height:1.5;}
.lh16List > li {line-height:1.6;}

.noneContents {float:none !important; position:static !important; margin:0 !important; padding:0 !important; height:200px !important; line-height:200px !important; text-align:center !important;}

.bdt0 {border-top:0 !important;}
.bdb0 {border-bottom:0 !important;}

.txtUnderline {text-decoration:underline;}
.txtHoverUnderline:hover {text-decoration:underline;}

/* align */
.vat {vertical-align:top !important;}
.vam {vertical-align:middle !important;}
.vab {vertical-align:bottom !important;}
.agl {text-align:left !important;}
.agc {text-align:center !important;}
.agr {text-align:right !important;}
.vamAll * {vertical-align:middle !important;}
.vatAll * {vertical-align:top !important;}
.vamAll .kwtIcoBox {top:0 !important;}
.autoHideTxtWrap {position:relative;}
.autoHideTxt {position:absolute; left:10px; top:9px; color:#a8a8a8; cursor:auto;}
.autoHideiTxt {position:absolute; left:10px; top:4px; color:#a8a8a8; cursor:auto;}
.autoHideTxtWrap .autoHideTxt {position:absolute; left:10px; top:4px; color:#a8a8a8; cursor:auto;}
.vamAllImg1 {position:relative; top:-1px;}
.vamAllImg2 {position:relative; top:-2px;}
.vamAllImg3 {position:relative; top:-3px;}


/* none */
.hidden {display:none;}


/* button */
.flatBgBtn {display:inline-block; width:215px; padding:0 50px; height:37px; line-height:37px; background:#104180; color:#fff; font-size:13px; font-weight:bold; letter-spacing:-0.5px; }
.searchBgBtn {display:inline-block; width:215px; padding:0 50px; height:37px; line-height:37px; background:#bfbfbf; color:#0e3376; font-size:13px; font-weight:bold; letter-spacing:-0.5px; }
.flatWtLineBtn {display:inline-block; width:105px; height:27px; line-height:27px; font-size:12px; text-align:center; border:1px solid #cdcdcd;}
.flatWtLineBtn:hover {display:inline-block; width:105px; height:27px; line-height:27px; font-size:12px; text-align:center; color:#fff; border:1px solid #355ea1; background:#355ea1;}


/* box */
.shwBoxWrap {box-shadow:0 1px 2px #ddd;}





/* tab */

/* paging */

/* input */

/* list */


/* layer popup */
.totalDimm {position:fixed; top:0; left:0; height:100%; width:100%; background:#000; opacity:0.7; filter: alpha(opacity=70); z-index:10;}


/* table */
.reqTb {table-layout:fixed; border:solid #999999; border-width:1px 0 0 0;}
.reqTb th {padding:0; height:35px; text-align:center; background:#eaeaea; font-weight:bold; border-bottom:1px solid #cccccc; border-left:1px solid #cccccc;}
.reqTb th:first-child {border-left:0;}
.reqTb td {padding:7px; border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; line-height:160%; }
.reqTb td input, select {height:20px; }
.reqTb td:first-child {border-left:0;}


.reqForm {table-layout:fixed; border:solid #223556; border-width:2px 0 0 0;}
.reqForm th {padding:0; height:50px; text-align:center; background:#f8f8f8; font-weight:bold; border-bottom:1px solid #d7d4d4; color:#363638; }
.reqForm th:first-child {border-left:0;}
.reqForm td {padding:10px; border-left:0px solid #cccccc; border-bottom:1px solid #d7d4d4; line-height:160%; }
.reqForm td input, select {height:20px; border:1px solid #d8d5d5; }
.reqForm td:first-child {border-left:0;}

.reqSearch {table-layout:fixed; border:solid #223556; border-width:2px 0 0 0;}
.reqSearch th {padding:0; height:40px; text-align:center; background:#f8f8f8; border-bottom:1px solid #d7d4d4; }
.reqSearch td {padding:7px; border-bottom:1px solid #d7d4d4; line-height:160%; }
.reqSearch td input, select {height:20px; }
.reqSearch td.lstb {border-bottom:0; text-align:center; padding-top:35px;}

.origTb {table-layout:fixed; border:solid #ffffff; border-width:1px;}
.origTb th {padding:0; height:35px; text-align:center; background:#eaeaea; font-weight:bold; }
.origTb td {padding:7px; line-height:160%; }}


/* popup */

/* bullet */



/* title */
.heading_h4 { padding:0; color: #000000; height:30px; font-family:'Nanum Barun Gothic'; padding-top:10px; font-size: 13pt; line-height:1.5; }
.heading_h4 span { font-size: 11pt; line-height:1.5; }
.txt01 { font-size:16px; height:30px; border-bottom:0px solid #eaeaea; margin-top:15px; color:#223556; }


.mini_calender * { font-size: 11px; }
.mini_calender>div { width:250px; }
.mini_calender table { table-layout:fixed; border-collapse: separate; border:; }
.mini_calender table td { white-space:nowrap; padding:0; height:24px; }
.mini_calender table table { width:100%; table-layout:fixed; }
.mini_calender table table td { width:20px; }
.mini_calender table table table {  table-layout:auto; border:0; }
.mini_calender table table table td { border:0; }

.mini_calender_main * { font-size: 11px; }
.mini_calender>div {  }
.mini_calender_main table { width:250px; padding:0; table-layout:auto; border-collapse: separate; border:; }
.mini_calender_main table td { white-space:nowrap; padding:0; height:auto; border:0; }
.mini_calender_main table table { width:100%; table-layout:fixed; border-collapse:collapse; border:1px solid #d0d0d0; }
.mini_calender_main table table td { width:14.1%; padding:0; border:1px solid #d0d0d0; }
.mini_calender_main table table table {  table-layout:auto; border:0; padding:0; }
.mini_calender_main table table table td { border:0; padding:0; }
