@charset "euc-kr";

.innWrap { position:relative; width:1160px; margin:0 auto;}
.quick_fixed { position:fixed; top:314px; right:0;}

@media screen and (max-width : 1160px){ 
	.quick_fixed { display:none;}
} 


/* header */
#header { position:fixed; width:100%; height:134px; background:url(/n_img/bg/top_bg.gif) repeat-x; font-family:'Nanum Barun Gothic'; z-index:999999;}
#header .head_top { position:relative; width:1160px; height:39px; margin:0 auto; }
#header .head_top .top_phone { padding-top:11px; color:#ffffff; font-size:13px; }
#header .head_top .top_phone span { font-weight:bold; }
#header .head_top .topLink { position:absolute; top:10px; right:0; }
#header .head_top .topLink li {float:left; height:18px; padding:3px 10px 0; background:url(/n_img/ln_toplink.gif) 0 4px no-repeat;}
#header .head_top .topLink li:first-child { background:none;}
#header .head_top .topLink li:last-child {padding:3px 0 0 10px;}
#header .head_top .topLink li a { color:#798395; }
#header .head_top .topLink li.bgn { background:none; }
#header .head_top .topLink li img { padding:0 3px; }

#header .headerGnb { width:100%; position:absolute; height:59px; top:60px; overflow:hidden; background: url(/n_img/nav_bg.png) repeat-x 0px 74px; z-index:99;}
#header .headerGnb.on { background: url(/n_img/nav_bg.png) repeat-x 0px 74px;}
#header .headerGnb .wrap_bar { position:relative; width:1160px; margin:0 auto; }
#header .headerGnb .wrap_bar .logo { position:absolute; width:320px; }
#header .headerGnb .wrap_bar > ul{width:820px; position:relative; left:380px; top:17px; }
#header .headerGnb .wrap_bar > ul:after{content:"";display:block; clear:both;}
#header .headerGnb .wrap_bar > ul > li{float:left; height:26px; }
#header .headerGnb .wrap_bar > ul > li:first-child{padding-left:0;}
#header .headerGnb .wrap_bar > ul > li.s1 {width:130px; text-align:right; }
#header .headerGnb .wrap_bar > ul > li.s1 >  ul {left:50px;padding:40px 0 0px 0px; height:160px; }
#header .headerGnb .wrap_bar > ul > li.s2 {width:130px; text-align:right; }
#header .headerGnb .wrap_bar > ul > li.s2 > ul {left:180px;padding:40px 0 15px 0px; height:160px; }
#header .headerGnb .wrap_bar > ul > li.s3 {width:130px; text-align:right; }
#header .headerGnb .wrap_bar > ul > li.s3 > ul {left:310px;padding:40px 0 15px 0px; height:160px; }
#header .headerGnb .wrap_bar > ul > li.s4 {width:120px; text-align:right; }
#header .headerGnb .wrap_bar > ul > li.s4 > ul {left:445px;padding:40px 0 15px 0px; height:160px; }
#header .headerGnb .wrap_bar > ul > li.s5 {width:130px; text-align:right; }
#header .headerGnb .wrap_bar > ul > li.s5 > ul {left:570px;padding:40px 0 15px 0px; height:160px; }
#header .headerGnb .wrap_bar > ul > li.s6 {width:130px; text-align:right; }
#header .headerGnb .wrap_bar > ul > li.s6 > ul {left:705px;padding:40px 0 15px 0px; height:160px; }
#header .headerGnb .wrap_bar > ul > li > a{font-size:12pt; color:#545454; letter-spacing:-.02em; height:50px;}
#header .headerGnb .wrap_bar > ul > li > a:hover, #header .headerGnb > ul > li > a.on{color:#347dd0; text-decoration:none; /* background:url(/n_img/menu_on_bg.gif) no-repeat 70px 47px; */ }
#header .headerGnb .wrap_bar > ul > li > ul {margin-top:30px;display:;position:absolute;top:10px;left:0;}
#header .headerGnb .wrap_bar > ul > li > ul > li {margin-bottom:20px;text-align:left;}
#header .headerGnb .wrap_bar > ul > li > ul > li > a {font-size:10pt; letter-spacing:-0.01em; color:#333333;margin:0 0 0 12px}
#header .headerGnb .wrap_bar > ul > li > ul > li > a.on,#header .headerGnb > ul > li > ul > li > a:hover {color:#ff0000;text-decoration:none;}

#footer {padding:35px 0; border-top:1px solid #dbdbdb; background:#fff; }
#footer .ftLogoWrap { margin-top:0px; float:left; width:270px; text-align:left; }
#footer .ftLogoWrap > dt { }
#footer .ftLogoWrap > dd { margin-top:8px; letter-spacing:-0.5px; font-size:12px; font-family:'돋음'; color:#5a5a5a; }
#footer .ftLogoWrap > dd span { display:block; font-size:19px; font-weight:bold; color:#535353; padding-top:5px; margin-left:-2px;}
#footer .ftLogoWrap > dd.ltsp { letter-spacing:-0.3px; }
#footer .ftCntWrap { float:left; width:850px; margin-top:10px; }
#footer .ftCntWrap .ftEtcNavList > li { float:left; font-size:12px; background:url(/n_img/ln_ft_nav.gif) 0 1px no-repeat;}
#footer .ftCntWrap .ftEtcNavList > li > a { display:block; padding:0 9px; font-family:'돋움'; }
#footer .ftCntWrap .ftEtcNavList > li:first-child { background:none;}
#footer .ftCntWrap .ftEtcNavList > li:first-child > a { padding:0 9px 0 0;}

#footer .ftCntWrap .ftAddWrap { font-size:11px; color:#5a5a5a; line-height:1.7; }
#footer .ftCntWrap .ftAddWrap p { display:inline-block; width:400px; margin-top:15px; vertical-align:top; }
#footer .ftCntWrap .ftAddWrap p.btminfo { width:auto; }





/* 메인 레이아웃 */
.mainCntWrap {background:#f0f0f0; font-family:'Nanum Barun Gothic'; }
/*.mainCntWrap {background:#d1d1d1; font-family:'Nanum Barun Gothic'; } bg 눈내리는 스크립트 사용 시 배경 색 변경부분*/ 

.mVsltxt { width:1160px; height:110px; padding:70px 0 0 0; margin:0 auto; text-align:center; }
.mVsltxt .title { font-size:30px; color:#494949; letter-spacing:-2px;}
.mVsltxt .desc { margin-top:15px; font-size:15px; color:#494949; line-height:1.4;}

.mVslimg { float:left; width:885px; }

.mVslform { float:left; width:275px; height:430px; padding:45px 30px 35px 30px; background:#355e92; box-sizing: border-box; }
/*.mVslform { float:left; width:275px; height:430px; padding:40px 30px; background:#355e92; box-sizing: border-box; }*/
.mVslform .quickReqWrap > dt {font-size:16px; font-weight:bold; color:#ffffff; }
.mVslform .quickReqWrap > .desc {margin-top:10px; font-size:14px; color:#c2c2c2;}
.mVslform .quickReqWrap > .iptArea {margin:10px 0 0 0;}
.mVslform .quickReqWrap > .iptArea .tmsel { font-size:11px; font-family:'돋움'; color:#ffffff; letter-spacing:-1px; margin-bottom:15px; }
.mVslform .quickReqWrap .quickReqTb tbody th {padding:3px 0; font-size:15px; font-size:11px; color:#ffffff; text-align:left; }
.mVslform .quickReqWrap .quickReqTb tbody td {padding:3px 0;}
.mVslform .quickReqWrap .quickReqTb tbody td input {width:152px; height:22px; line-height:25px; text-indent:5px;}
.mVslform .quickReqWrap .quickReqTb tbody td select {width:152px; height:26px; line-height:27px; text-indent:10px;}
.mVslform .quickReqWrap .agrList {margin-top:5px;}
.mVslform .quickReqWrap .agrList > li {margin-top:5px; margin-left:65px; font-size:11px; }
.mVslform .quickReqWrap .agrList > li a {color:#ffffff; }
.mVslform .quickReqWrap .agrList > li:first-child {margin-top:0;}

.mMovWrap { width:1160px; margin:0 auto; }
/*.mMovWrap li { float:left; width:289px; height:110px; border-left:1px solid #ffffff; }*/
.mMovWrap li { float:left; width:385px; height:110px; border-left:1px solid #ffffff; }
.mMovWrap li:first-child { border-left:0;}
/*.mMovWrap li .tbCellBox { position:relative; display:table-cell; width:245px; height:80px; top:16px; left:20px; vertical-align:middle; color:#3f3f3f; font-size:13px; line-height:1.3;}*/
.mMovWrap li .tbCellBox { position:relative; display:table-cell; width:315px; height:80px; top:16px; left:30px; vertical-align:middle; color:#3f3f3f; font-size:13px; line-height:1.3;}
.mMovWrap li .tbCellBox .title { margin-bottom:5px; font-size:15px; color:#355e92; font-weight:bold; }
.mMovWrap li .tbCellBox .img { position:absolute; top:0; right:0; }
.mMovWrap li.tp1 {background:#e8e8e8;}
.mMovWrap li.tp2 {background:#e8e8e8;}
.mMovWrap li.tp3 {background:#e8e8e8;}
.mMovWrap li.tp4 {background:#e8e8e8; width:385px; }

.mEntWrap { position:relative; background:url(/n_img/main_event_bg.jpg) no-repeat top center; height:759px; }
.mEntWrap .cntDefaultList { width:1160px; margin:0 auto; color:#3f3f3f; }
.mEntWrap .cntDefaultList dt { padding-top:80px; font-size:30px; color:#494949; text-align:center; }
.mEntWrap .cntDefaultList dt.white { padding-top:80px; font-size:30px; color:#ffffff; text-align:center; }
.mEntWrap .cntDefaultList .desc { margin:15px 0; font-weight:bold; font-size:15px; color:#494949; text-align:center;}
.mEntWrap .cntDefaultList .desc_white { margin:15px 0; font-weight:bold; font-size:15px; color:#ffffff; text-align:center;}
.mEntWrap .cntDefaultList .constCntList { width:1043px; margin:0 auto; }
.mEntWrap .cntDefaultList .constCntList > li { width:332px; }
.mEntWrap .cntDefaultList .constCntList > li:first-child { margin-left:0;}
.mEntWrap .cntDefaultList .constCntList > li .tbCellBox { display:table-cell; height:490px; text-align:center; background:#ffffff; color:#3f3f3f; font-size:15px; line-height:1.5;}
.mEntWrap .cntDefaultList .constCntList > li .tbCellBox .setitle { margin-top:30px; margin-bottom:5px; font-size:17px; font-weight:bold; color:#355e92; }
.mEntWrap .cntDefaultList .constCntList > li .tbCellBox .sedate { font-size:12px; font-weight:bold; color:#363638; }
.mEntWrap .cntDefaultList .constCntList > li .tbCellBox .sedesc { width:245px; text-align:center; font-size:13px; font-weight:bold; color:#5b5b5b; line-height:1.6; }
.mEntWrap .prevBtn { position:absolute; top:380px; left:50%; margin-left:-585px; }
.mEntWrap .nextBtn { position:absolute; top:380px; left:50%; margin-left:530px;}

.mStyWrap { position:relative; height:640px; }
.mStyWrap .cntStyList { width:1160px; margin:0 auto; color:#3f3f3f; }
.mStyWrap .cntStyList dt { padding-top:80px; font-size:30px; color:#494949; text-align:center; }
.mStyWrap .cntStyList .desc { margin:15px 0; font-weight:bold; font-size:15px; color:#494949; text-align:center;}
.mStyWrap .cntStyList .constCntList {  }
.mStyWrap .cntStyList .constCntList > li {float:left; margin-left:40px; width:360px; }
.mStyWrap .cntStyList .constCntList > li:first-child {margin-left:0;}
.mStyWrap .cntStyList .constCntList > li .tbCellBox {display:table-cell; width:360px; height:400px; text-align:center; background:#ffffff; color:#3f3f3f; font-size:15px; line-height:1.5;}
.mStyWrap .cntStyList .constCntList > li .tbCellBox .stitle { margin-top:30px; font-size:17px; font-weight:bold; color:#355e92; }
.mStyWrap .cntStyList .constCntList > li .tbCellBox .sdesc { margin-top:10px; text-align:center; font-size:13px; font-weight:bold; color:#5b5b5b; line-height:1.7; }

.bdr_latest { float:left; position:relative; width:360px; height:180px; }
.bdr_latest .title { font-size:15px; color:#355e92; font-weight:bold; }
.bdr_latest .more { position:absolute; top:0; right:0; font-size:12px; }
.bdr_latest .more span { color:#355e92; line-height:2; }
.Mbtn_banner { float:right; }

.gnbBnner { width:1160px; margin:0 auto; }


/* 서브 레이아웃 */
.subVsl { height:107px; font-family:'Nanum Barun Gothic'; }
.subVsl .subVslTxt { padding:38px 0 0 0; width:1160px; }
.subVsl .subVslTxt dt { display:inline-block; width:204px; font-size:22px; color:#ffffff; letter-spacing:-1px; text-align:center; }
.subVsl .subVslTxt dd { display:inline-block; font-size:15px; color:#ffffff; letter-spacing:0.5; padding:0 0 0 66px; }
.subVsl .location { position:absolute; font-size:12px; color:#959494; letter-spacing:0.5; top:45px; right:0; }
.subVsl .location a { font-size:15px; color:#959494; letter-spacing:0.5; }

.conWrap { position:relative; width:1160px; margin:0 auto; font-family:'Nanum Barun Gothic'; }
.conWrap .slnbWrap { float:left; width:203px; }
.conWrap .slnbWrap ul li { position:relative; font-size:15px; }
.conWrap .slnbWrap ul li a { display:block; width:203px; height:55px; padding:18px 0 0 40px; box-sizing:border-box; border-bottom:1px solid #d6d6d6;}
.conWrap .slnbWrap ul li span.left_symbol { position:absolute; top:18px; right:17px; color: transparent; }
.conWrap .slnbWrap ul li span.sel { color: #000000; }
.conWrap .slnbWrap ul li:hover span.left_symbol { color: #000000; }

/* .conWrap .slnbWrap ul li a.snb_on { background:#f1f1f1; } */

.conWrap .mContents {float:right; position:relative; width:895px; }
.titWrap { margin-top:62px; }

.sCntWrap { width:895px; overflow:hidden; padding:35px 0px 20px 0px; }

.heading_h3 { color: #363638; height:30px; font-size: 28px; line-height:120%; }